@font-face {
  font-family: "public-sans-semibold";
  src: url(../assets/fonts/Public-Sans/static/PublicSans-SemiBold.ttf);
}

body {
  font-family: sans-serif, Helvetica, 'public-sans-semibold';
}

.grd-light {
  background: linear-gradient(95deg, #ffdcdc, white, #ffdcdc);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: center;
}

.grd-dark {
  background: linear-gradient(95deg, #402227, #23272d, #402227);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}